<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zebra.qonchAssets">

    <uses-permission android:name="com.symbol.datawedge.permission.contentprovider" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.QonchAssets.Common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.QonchAssets.Activity.AuditLocationMapActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name="com.QonchAssets.Activity.ScanningAssetsDetailActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name="com.QonchAssets.Activity.AssetBySectionActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name="com.QonchAssets.Activity.AssetsByFloorActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name="com.QonchAssets.Activity.AssetsInLocationActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name="com.QonchAssets.Activity.AssetsBuildingActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name="com.QonchAssets.Activity.AssetsViewDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />

        <uses-library android:name="com.google.android.maps" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.QonchAssets.Activity.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCocALgAiwqZTp8goZrYXBXufeRm_efxjE" />

        <activity
            android:name="com.QonchAssets.Activity.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.QonchAssets.Activity.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name="com.QonchAssets.Activity.ScanAuditingActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
    </application>

</manifest>